* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* removed [.header div] as the selector, and simply set it to nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed [.header div] as the selector, and simply set it to nav ul */
nav ul {
    list-style-type: none;
}

/* removed [.header div] as the selector, and simply set it to nav ul li */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* No change needed here */
a {
    color: #ffffff;
    text-decoration: none;
}

/* No change needed here */
p {
    font-size: 16px;
}

/* Removed duplicate instances of h2 selectors from the CSS code and condensed into lines 168-171 below */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Removed a div tag and updated it to the semantic <figure> tag, which required an update to the selector below. */
figure.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* No change needed here. The class was kept on the HTML doc */
.float-left {
    float: left;
    margin-right: 25px;
}

/* No change needed here. The class was kept on the HTML doc */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Removed the <div class="content"> tag in the html document and updated it to the semantic <main> tag, which required an update to the selector below */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Updated this from .benefits to aside to match the change in the HTML file */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Eliminated duplicate instances of the below selector + properties + values */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Eliminated duplicate instances of the below selector + properties + values and updated with the new semantic <aside> tag selector */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Eliminated duplicate instances of the below selector + properties + values and updated with the new semantic <aside> tag selector */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/* Updated the main sections on the HTML document to semantic main and section elements, which required a change to the CSS below. It also allowed me to condense the styling for each of those sections using the code below */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Removed duplicate instances of img selectors from the CSS code and condensed into lines 168-171 below */
section img {
        max-height: 200px;
}

/* Removed the div tag in the html document and updated it to the semantic footer tag, which required an update to the selector below */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Removed the div tag in the html document and updated it to the semantic footer tag, which required an update to the selector below */
footer h2 {
    font-size: 20px;
}
